SECRET_KEY=change-me-in-production

# SQL Server connection (pyodbc)
DB_HOST=SRV-LANSQL-XX\MSSQLINSTANCE
DB_NAME=EVER_2026
DB_USER=
DB_PASSWORD=

# Mot de passe générique pour la première connexion (accepté uniquement si Mot_De_Passe_Hash est NULL)
FIRST_LOGIN_PASSWORD=Ever@2026

# Mot de passe pour accéder à la section Affectation
ADMIN_PASSWORD=changeme

DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
